body {
  background-color: #0d1117;
  /* font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(230, 230, 230);
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.responsive-container {
  width: 20rem;
}

.text-container {
  width: 50rem;
}

.card-container {
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.card {
  width: 15rem;
}
